-#  This file is app/views/questions/index.html.haml
%h2 All Questions

%table#questions
  %thead
    %tr
      %th Question Id
      %th Question Title
      %th Value
      %th Order
      %th Answer
  %tbody
    - @questions.each do |question|
      %tr
        %td= question.id
        %td= question.title 
        %td= question.value
        %td= question.order
        - question.answers.each do |answer|
          %td= answer.text
%br
%p Puede encontrar más información en español sobre cómo preparar el test en mi libro #{link_to "Gestión práctica de proyectos con Scrum", "http://www.amazon.com/Gestión-práctica-proyectos-con-Scrum-ebook/dp/B00KDYSRLC"}
