-#  This file is app/views/questions/show.html.haml

%h2 El no-oficial Test de Scrum
%br
%h3 #{@question.title}

= form_tag next_question_path, :method => :get, :action => :next, :id => 'answers_form' do
  %h3 Escoja una respuesta:
  %ul#answers
    - @question.answers.each do |answer|
      = radio_button_tag "answers_radio", "#{answer.id}"
      #{answer.text}
      %br
  = link_to 'Volver a comenzar el test', starttest_path
  %sp 
  = submit_tag 'Siguiente', :id => 'answers_submit'

%br
%br
%p © #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com"}

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52777345-1', 'auto');
  ga('send', 'pageview');

