-#  This file is app/views/questions/show.html.haml

%h2 El no-oficial Test de Scrum
%br
%h3 #{@question.title}

= form_tag next_question_path, :method => :get, :action => :next, :id => 'answers_form' do
  %h3 Escoja una respuesta:
  %ul#answers
    - @question.answers.each do |answer|
      = radio_button_tag "answers_radio", "#{answer.id}"
      #{answer.text}
      %br
  = link_to 'Volver a comenzar el test', starttest_path
  %sp 
  = submit_tag 'Siguiente', :id => 'answers_submit'

%br
%br
%p © #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com"}

