-#  This file is app/views/results/index.html.haml
%h2 El no-oficial Test de Scrum
%br
%h3 #{pass}
%br 
%p Si ha obtenido más del 80% de las preguntas correctas usted tiene un conocimiento alto de Scrum. Pruebe el test de scrum.org para obtener el certificado #{link_to "Professional Scrum Master (PSM I)", "https://www.scrum.org/Assessments/Open-Assessments/Scrum-Open-Assessment"}

%p Puede encontrar más información en español sobre cómo preparar el test en mi libro #{link_to "Gestión práctica de proyectos con Scrum", "http://www.amazon.com/Gestión-práctica-proyectos-con-Scrum-ebook/dp/B00KDYSRLC"}
%br
= link_to 'Volver a comenzar el test', starttest_path
%br
%br
%p © #{link_to "www.antoniomartel.com", "http://www.antoniomartel.com"}

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52777345-1', 'auto');
  ga('send', 'pageview');


